<!DOCTYPE html>
<html lang="en">
<head>
  <title>LearnMate</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<script>
  var selectedText="";
  var context = "";

    function checkSelection() {
      if (selectedText==""){
        return
      }
      var selectedTextDiv = document.getElementById('selected-text');
      selectedTextDiv.innerText  = selectedText;
      var myDiv = document.getElementById('pop-up');
      myDiv.style.display="Block";
      myDiv.style.top =  '20vh';
      myDiv.style.left = '20vw';

      fetch('/api/expand', {
        credentials: "same-origin",
        mode: "same-origin",
        method: 'post', 
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({'phrase': selectedText, 'context': context})
      })
        .then(resp => {
          if (resp.status === 200) {
              return resp.json()
          } else {
              console.log("Status: " + resp.status)
              return Promise.reject("server")
          }
      })
        .then(dataJson => {
          console.log(dataJson.expanded)
          var explanationDiv = document.getElementById('explanation');
          explanation.innerText  = dataJson.expanded;
        })

        

    }
    function showButton(){
      var newSelectedText = document.getSelection().toString();
      if (newSelectedText!=""){
        selectedText = newSelectedText;
        var parent = document.getSelection().anchorNode;
        while (parent != null && parent.localName != "p") {
          parent = parent.parentNode;
        }
        context = parent.innerText;
      }
      var html = document.documentElement;
      var body = document.body;

      var question = document.getElementById('questionId');
      var rect = body.getBoundingClientRect();
      
      var mouseY = event.clientY - rect.top + body.scrollTop;
      var height = Math.max( body.scrollHeight, body.offsetHeight, html.clientHeight, html.scrollHeight, html.offsetHeight );
      question.style.display="block";
      question.style.bottom = height - mouseY -80+"px";
    }


    function closePopup(){
      var myDiv = document.getElementById('pop-up');
      myDiv.style.display = "none";
      var explanationDiv = document.getElementById('explanation');
      explanation.innerText  = "";
      
    }
  </script>
<body>
  

  <nav class="navbar navbar-expand-sm px-5" style="background-color: rgba(98, 10, 23, 0.466);">
    <div class="navbar-nav">
      <a class="nav-link active text-light" href="{{url_for('main')}}">Home</a>
      <a class="nav-link text-light" href="#">About</a>
      <a class="nav-link text-light" href="#">Contact</a>
      {% if current_user.is_authenticated %}
      <a class="nav-link text-light" href="{{url_for('dashboard')}}">Dashboard</a>
      {% endif %}
    </div>

    <!-- Right-aligned items -->
    <div class="navbar-nav ms-auto">
      {% if current_user.is_authenticated %}
		  <a class="nav-link text-light" href="{{url_for('logout')}}">Logout</a>
		  {% else %}
		  <a class="nav-link text-light" href="{{url_for('login')}}">Login</a>
		  <a class="nav-link text-light" href="{{url_for('register')}}">Sign Up</a>
		  {% endif %}
    </div>
  </nav>
  <div class="container-fluid p-0" style="background-color:rgba(202, 36, 36, 0.14)">
    <div class="row h-100">
      <div class="col-sm-2 container position-relative  d-none d-sm-block">
      </div>
      <div class="col-sm-8 position-relative p-5" style="min-height: 80vh;box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.223), 0 6px 20px 0 rgba(0, 0, 0, 0.19);background-color:white;" id="content" onmouseup="showButton()">
          <!-- de pus textul din baza de date -->
          <p>The solution corresponding to the original constrained optimization is always a saddle point of the Lagrangian function,[4][5] which can be identified among the stationary points from the definiteness of the bordered Hessian matrix.[6]
          </p>
          <p>
            The great advantage of this method is that it allows the optimization to be solved without explicit parameterization[disambiguation needed] in terms of the constraints. As a result, the method of Lagrange multipliers is widely used to solve challenging constrained optimization problems. Further, the method of Lagrange multipliers is generalized by the Karush–Kuhn–Tucker conditions, which can also take into account inequality constraints of the form h ( x ) ≤ c {\displaystyle h(\mathbf {x} )\leq c} {\displaystyle h(\mathbf {x} )\leq c} for a given constant c   {\displaystyle c~} {\displaystyle c~}. 
          </p>
          <p>
            The Lagrange multiplier theorem states that at any local maximum (or minimum) of the function evaluated under the equality constraints, if constraint qualification applies (explained below), then the gradient of the function (at that point) can be expressed as a linear combination of the gradients of the constraints (at that point), with the Lagrange multipliers acting as coefficients.[8] This is equivalent to saying that any direction perpendicular to all gradients of the constraints is also perpendicular to the gradient of the function. Or still, saying that the directional derivative of the function is 0 in every feasible direction. 
          </p>




        <div class="question position-absolute" id="questionId" style="width:50px; aspect-ratio:1/1;right:5px;" onclick="checkSelection()"></div>  
      </div>
      <div class="col-sm-2 container position-relative d-none d-sm-block" >
      </div>
    </div>
  </div>
  <div class="d-none d-sm-block position-absolute twig"  style="left:0vw;bottom:0;width:20vw; height:20vw;">
  </div>
  <div class="d-none d-sm-block position-absolute twig"  style="rotate:200deg;right:0vw;top:50px;width:20vw; height:20vw;">
  </div>
  <div class="chapter position-fixed w-75" style="top:0; aspect-ratio:2/1; background-color: rgba(247, 247, 247, 0.949);" id="pop-up">
    <div class="w-100 h-100 custom-scrollbar p-3 pt-4" style="overflow-y:auto">
      <div class="close position-absolute" style="right:3%; top:3%;height:10%; aspect-ratio: 1/1;" onclick="closePopup()">
      </div>
      <h3>
        Selected Text:
      </h3>
      <div  id="selected-text"></div>
      <h3>
        <br>
        Explanation:
      </h3>
      <div  id="explanation">
        <!-- de pus explicatia -->
      </div>
    </div>
  </div>
  <footer class="text-light position-relative" style="background-color:rgba(98, 10, 23, 0.182);height:10vw; max-height: 75px;" >
    <p class="position-absolute top-50" style="left:30vw;">
      &copy; 2023 Chibichakra
    </p>
  </footer>   
</body>

</html>
